* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates';
  background: #1A1919;
  color: #d9dee2;
}

main {
  margin: 80px auto;
  width: fit-content;
}

h1 {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;

  width: fit-content;

  margin-bottom: 40px;
}

.container_color {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.btn_lock {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;

  padding: 10px;

  background: #1A1919;
  border: none;
  border-radius: 5px;
}

button.btn_lock i {
  color: white;
}

button.btn_lock:hover {
  background: #131212;
}

.button_color {
  width: 120px;
  height: 120px;

  border: none;

  /* 
  border: 1px solid red; */
}

button.button_change_color {
  position: absolute;

  margin-top: -15px;

  display: flex;
  align-items: center;

  margin-left: 15px;

  height: 50px;

  padding: 10px;

  font-size: 40px;
  padding: 10px;
  border-radius: 5px;

  color: #d9dee2;
  background: transparent;
  border: none;
}

button.button_change_color:hover {
  background: #131212;
}

input {
  margin: 40px auto 0 0;
  width: 110px;

  background: transparent;
  border: none;

  font-size: 16px;
  font-family: 'Montserrat Alternates';

  color: #d9dee2;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;

  font-size: 14px;

  color: #565656;
}

footer span {
  color: #d9dee2;
}